// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-font:  Calibri, Times New Roman, serif;
$secondary-font:  Arial, sans-serif;

$dark-blue:#2C3E50;
$orange:#E74C3C;
$gray:#ECF0F1;
$white:#FFFFFF;
$light-blue:#3498DB;
$light-blue-shade:#2980B9;