// Place all the styles related to the Claims controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';


#main_logo {
  background: url(asset-path('logo-white2.png'));
  height: 64px;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 11%;
}

.claims #search {
  padding: 0;
  width: 402px;
  margin: 0 auto;
  top: 24px;
  position: relative;
}

.claims #search input {
  border:1px solid $light-blue-shade;
  width:400px;
  height:40px;
  display:inline-block;
  margin-bottom: 15px;
  font-size: 14px;
  padding: 10px;
}

.claims #search input[type="submit"] {
	width:200px;
	text-transform:uppercase;
	background-color:$orange;
	color:$white;
	border:1px solid #D63B2B;
	border-width:1px 1px 2px 1px;
	margin:0 auto;
	line-height:42px;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
	cursor:pointer;
	font-size: 12px;
  padding: 0;

}


.summary {
  float: left;
  width: 33.3%;
  height: 90px;
  background-color:$light-blue-shade;
}