%header
  = link_to '', root_path, :id => 'logo'
  - if user_signed_in?  
    #log_out= link_to "[", destroy_user_session_path, :method => :delete
    #settings @
    #username
      #user_icon +
      = current_user.name